@font-face {
  font-family: "yuzu", sans-serif;
  src: url(/fonts/yuzu-bold.otf);
  font-weight: bold; }
@font-face {
  font-family: "yuzu", sans-serif;
  src: url(/fonts/yuzu-medium.otf);
  font-weight: medium; }
@font-face {
  font-family: "yuzu", sans-serif;
  src: url(/fonts/yuzu-regular.otf);
  font-weight: normal; }
@media screen and (min-width: 781px) {
  h1 {
    font-family: "yuzu", sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    letter-spacing: -3px; }

  h2 {
    font-family: "yuzu", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #181F65;
    letter-spacing: -3px; }

  h3 {
    font-family: "yuzu", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: -0.67px;
    line-height: 32px; }

  h3.blue {
    color: #181F65; }

  h5 {
    font-family: "yuzu", sans-serif;
    font-size: 20px;
    color: #9DA1B8;
    letter-spacing: -0.42px;
    line-height: 48px; }

  .caption {
    font-family: "hind", sans-serif;
    font-size: 28px;
    color: #CFD2F2;
    letter-spacing: -0.59px;
    line-height: 32px; }

  .p-1 {
    font-family: "hind", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    color: #9DA1B8;
    letter-spacing: -1px;
    line-height: 40px;
    margin-bottom: 60px; }

  .p-2 {
    font-family: "hind", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #C8CBE2;
    letter-spacing: -0.42px;
    line-height: 26px;
    margin-bottom: 80px; }

  .p-2.blue {
    color: #6B6E8D;
    margin-bottom: 90px; } }
@media screen and (max-width: 780px) {
  h1 {
    font-family: "yuzu", sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    letter-spacing: -3px; }

  h2 {
    font-family: "yuzu", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #181F65;
    letter-spacing: -3px; }

  h3 {
    font-family: "yuzu", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: -0.67px;
    line-height: 32px; }

  h3.blue {
    color: #181F65; }

  h5 {
    font-family: "yuzu", sans-serif;
    font-size: 20px;
    color: #9DA1B8;
    letter-spacing: -0.42px;
    line-height: 48px; }

  .caption {
    font-family: "hind", sans-serif;
    font-size: 28px;
    color: #CFD2F2;
    letter-spacing: -0.59px;
    line-height: 32px; }

  .p-1 {
    font-family: "hind", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    color: #9DA1B8;
    letter-spacing: -1px;
    line-height: 32px;
    margin-bottom: 60px; }

  .p-2 {
    font-family: "hind", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #C8CBE2;
    letter-spacing: -0.42px;
    line-height: 26px;
    margin-bottom: 80px; }

  .p-2.blue {
    color: #6B6E8D;
    margin-bottom: 90px; } }
@media screen and (min-width: 781px) {
  .hero-box {
    position: relative;
    height: 900px;
    background-color: #090C37;
    background-size: auto 600px;
    background-position: top center;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 140px;
    overflow: hidden;
    padding: 0px 40px 0px 40px; }
    .hero-box h1 {
      width: 100%;
      text-align: center;
      margin-top: 80px; }
    .hero-box .caption {
      text-align: center;
      max-width: 520px;
      margin: 0 auto;
      z-index: 10; }
    .hero-box form {
      max-width: 516px;
      margin-top: 60px; }
      .hero-box form input {
        font-family: "yuzu", sans-serif;
        font-weight: normal;
        font-size: 20px;
        border-style: none; }
    .hero-box .watch-1 {
      height: 648px;
      width: 100%;
      background-image: url(/images/New_Watch.png);
      background-image: url("/images/New_Watch.png");
      background-size: 648px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: -260px;
      z-index: 6; }
    .hero-box .shape-1 {
      height: 960px;
      width: 960px;
      background-image: url(/images/shape-1.svg);
      position: absolute;
      right: 50%;
      margin-left: -230px;
      top: 600px;
      z-index: 1; }
    .hero-box .shape-2 {
      height: 271px;
      width: 271px;
      background-image: url(/images/shape-2.svg);
      repeat: no-repeat;
      position: absolute;
      right: 55%;
      margin-left: 0px;
      top: 70%;
      z-index: 5; }
    .hero-box .shape-3 {
      height: 187px;
      width: 187px;
      background-image: url(/images/shape-3.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 60%;
      margin-right: 210px;
      top: 50%;
      z-index: 5; }
    .hero-box .shape-4 {
      height: 518px;
      width: 518px;
      background-image: url(/images/shape-4.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 64%;
      margin-left: -210px;
      top: 90%;
      z-index: 5; }
    .hero-box .shape-5 {
      height: 1008px;
      width: 1008px;
      background-image: url(/images/shape-5.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 60%;
      margin-left: -210px;
      top: 60%;
      z-index: 1; } }
@media screen and (max-width: 780px) {
  .hero-box {
    position: relative;
    height: 700px;
    background-color: #090C37;
    background-size: auto 600px;
    background-position: top center;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 0px 30px 0px 30px; }
    .hero-box h1 {
      width: 100%;
      text-align: center;
      margin-top: 40px; }
    .hero-box .caption {
      text-align: center;
      max-width: 520px;
      font-size: 22px;
      line-height: 32px;
      margin: 0 auto;
      z-index: 10; }
    .hero-box form {
      max-width: 516px;
      margin-top: 40px;
      z-index: 0; }
      .hero-box form input {
        font-family: "yuzu", sans-serif;
        font-weight: normal;
        font-size: 20px;
        border-style: none; }
    .hero-box .watch-1 {
      height: 648px;
      width: 100%;
      background-image: url(/images/New_Watch.png);
      background-image: url("/images/New_Watch.png");
      background-size: 400px 400px;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: -300px;
      z-index: 6; }
    .hero-box .shape-1 {
      height: 960px;
      width: 960px;
      background-image: url(/images/shape-1.svg);
      position: absolute;
      right: 50%;
      margin-left: -230px;
      top: 600px;
      z-index: 1; }
    .hero-box .shape-2 {
      height: 271px;
      width: 271px;
      background-image: url(/images/shape-2.svg);
      repeat: no-repeat;
      position: absolute;
      right: 55%;
      margin-left: 0px;
      top: 70%;
      z-index: 5; }
    .hero-box .shape-3 {
      height: 187px;
      width: 187px;
      background-image: url(/images/shape-3.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 65%;
      margin-right: 210px;
      top: 60%;
      z-index: 5; }
    .hero-box .shape-4 {
      height: 518px;
      width: 518px;
      background-image: url(/images/shape-4.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 64%;
      margin-left: -400px;
      top: 90%;
      z-index: 5; }
    .hero-box .shape-5 {
      height: 1008px;
      width: 1008px;
      background-image: url(/images/shape-5.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 60%;
      margin-left: -200px;
      top: 60%;
      z-index: 1; } }
.nav {
  display: flex;
  max-width: 1228px;
  padding: 0px 40px 0px 40px;
  margin: 0 auto; }
  .nav .logo {
    font-family: "yuzu", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #181F65;
    letter-spacing: -0.51px;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-align-self: flex-start;
    align-self: flex-start; }
  .nav .nav-items {
    font-family: "yuzu", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #181F65;
    letter-spacing: -0.38px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: auto;
    list-style: none;
    margin-bottom: 0;
    display: flex; }
    .nav .nav-items li {
      margin-left: 50px;
      color: #181F65;
      text-decoration: none;
      line-height: 40px; }
      .nav .nav-items li a:link {
        color: #181F65;
        text-decoration: none; }
      .nav .nav-items li a:hover {
        color: #4B5EBA;
        text-decoration: none; }

.content-group {
  position: relative;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.05);
  background-size: auto 600px;
  background-position: top center;
  max-width: 1100px;
  margin: 5% auto; }
  .content-group .h1 {
    height: 200px;
    width: 100%;
    background-image: url(/images/cycles-h1.svg);
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    left: 0%;
    top: 500px;
    margin-top: -60px;
    z-index: 5; }

form {
  max-width: 516px;
  margin: 10px auto 100px auto; }
  form input {
    font-family: "yuzu", sans-serif;
    font-weight: normal;
    font-size: 20px; }

@media screen and (min-width: 781px) {
  .watch-point {
    display: flex; }
    .watch-point img {
      margin: 0 auto;
      clear: both; }

  .center {
    text-align: center; }
    .center .p-2.blue {
      text-align: left; }
    .center .point-1-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point1-img.png);
      background-image: url("/images/point1-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center .point-2-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point2-img.png);
      background-image: url("/images/point2-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center .point-3-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point2-img.png);
      background-image: url("/images/point2-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center .point-4-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point4-img.png);
      background-image: url("/images/point4-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center h3 {
      clear: both;
      display: block;
      margin-top: 30px; } }
@media screen and (max-width: 780px) {
  .watch-point {
    display: flex; }
    .watch-point img {
      margin: 0 auto;
      clear: both; }

  .center {
    text-align: center; }
    .center .p-2.blue {
      text-align: left;
      font-size: 22px;
      line-height: 32px; }
    .center .point-1-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point1-img.png);
      background-image: url("/images/point1-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center .point-2-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point2-img.png);
      background-image: url("/images/point2-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center .point-3-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point2-img.png);
      background-image: url("/images/point2-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center .point-4-img {
      width: 100%;
      height: 248px;
      background-image: url(/images/point4-img.png);
      background-image: url("/images/point4-img.png");
      background-size: 210px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center; }
    .center h3 {
      clear: both;
      display: block;
      margin-top: 30px; } }
@media screen and (min-width: 781px) {
  .blue-bg {
    padding: 100px 0px 70px 0px;
    background-color: #090C37;
    width: 100%; }
    .blue-bg .container h2.white {
      color: #FFFFFF;
      margin-bottom: 40px; }

  .made-flex {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 40px;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between; }
    .made-flex .child {
      max-width: 520px; }
      .made-flex .child img {
        width: 100%;
        margin-bottom: 40px; }
    .made-flex .child-1 {
      margin-right: 30px; }
      .made-flex .child-1 .profile-img {
        max-height: 520px;
        width: 100%;
        background-image: url(/images/mb.png);
        background-color: green;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; } }
@media screen and (max-width: 780px) {
  .blue-bg {
    padding: 100px 0px 40px 0px;
    background-color: #090C37;
    width: 100%; }
    .blue-bg .container h2.white {
      color: #FFFFFF;
      margin-bottom: 40px; }

  .made-flex {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 40px;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .made-flex .child {
      width: 100%; }
      .made-flex .child img {
        width: 100%;
        margin-bottom: 40px; }
      .made-flex .child .p-2 {
        font-size: 22px;
        line-height: 32px; }
    .made-flex .child-1 .profile-img {
      max-height: 520px;
      width: 100%;
      background-image: url(/images/mb.png);
      background-color: green;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; } }
@media screen and (min-width: 781px) {
  footer {
    background: #FFFFFF;
    padding: 100px 0px 100px 0px;
    bottom: 300px;
    width: 100%;
    z-index: -1; }
    footer h5 {
      font-weight: bold; }
    footer ul {
      line-height: 28px;
      margin-bottom: 40px; }
    footer a {
      font-family: "hind", sans-serif;
      font-size: 20px;
      color: #181F65;
      letter-spacing: -0.42px; } }
@media screen and (max-width: 780px) {
  footer {
    background: #FFFFFF;
    padding: 100px 0px 100px 0px;
    bottom: 300px;
    width: 100%;
    z-index: -1; }
    footer .p-1.row {
      font-size: 22px;
      line-height: 32px; }
    footer h5 {
      font-weight: bold;
      font-size: 24px; }
    footer ul {
      line-height: 32px;
      margin-bottom: 40px; }
    footer a {
      font-family: "hind", sans-serif;
      font-size: 24px;
      color: #181F65;
      letter-spacing: -0.42px; } }
.spacer {
  background-color: #FFFFFF; }

body {
  background-color: white; }
