.hero-box {
  position: relative;
  height: 700px;
  background-size: auto 600px;
  background-position: top center;
  max-width: 1100px;
  margin: 5% auto; }
  .hero-box .h1 {
    height: 200px;
    width: 100%;
    background-image: url(/images/cycles-h1.svg);
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    left: 0%;
    top: 210px;
    margin-top: -60px;
    z-index: 5; }
  .hero-box .watch-1 {
    height: 648px;
    width: 482px;
    background-image: url(/images/watch1_a.png);
    position: absolute;
    right: 0%;
    top: 30px;
    z-index: 4; }
  .hero-box .shape-1 {
    height: 600px;
    width: 660px;
    background-image: url(/images/shape-1.svg);
    position: absolute;
    right: 5%;
    margin-left: -230px;
    z-index: 3; }
  .hero-box .shape-2 {
    height: 110px;
    width: 110px;
    background-image: url(/images/shape-2.svg);
    position: absolute;
    left: 40%;
    margin-left: -230px;
    top: 50%;
    z-index: 2; }

.nav {
  display: flex;
  max-width: 1228px;
  padding: 0px 64px 0px 64px;
  margin: 0 auto; }
  .nav .logo {
    font-family: SofiaProSoftBold;
    font-size: 24px;
    color: #181F65;
    letter-spacing: -0.51px;
    margin-top: 50px;
    margin-bottom: 0;
    -webkit-align-self: flex-start;
    align-self: flex-start; }
  .nav .nav-items {
    font-family: ProximaNovaSoft-Regular;
    font-size: 18px;
    color: #181F65;
    letter-spacing: -0.38px;
    line-height: 40px;
    margin-top: 50px;
    margin-left: auto;
    list-style: none;
    margin-bottom: 0;
    display: flex; }
    .nav .nav-items li {
      margin-left: 50px;
      color: #181F65;
      text-decoration: none;
      line-height: 40px; }
      .nav .nav-items li a:link {
        background-color: red;
        color: #181F65;
        text-decoration: none; }
      .nav .nav-items li a:hover {
        background-color: green;
        color: #181F65;
        text-decoration: none; }

.spacer {
  background-color: #e1e1e1; }
