@font-face {
  font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
  src: url(/fonts/yuzu-bold.otf);
  font-weight: bold; }
@font-face {
  font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
  src: url(/fonts/yuzu-medium.otf);
  font-weight: medium; }
@font-face {
  font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
  src: url(/fonts/yuzu-regular.otf);
  font-weight: normal; }
@media screen and (min-width: 781px) {
  h1 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    letter-spacing: -3px; }

  h2 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #181F65;
    letter-spacing: -3px; }

  h3 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: -0.67px;
    line-height: 32px; }

  h3.blue {
    color: #181F65; }

  h5 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-size: 20px;
    color: #9DA1B8;
    letter-spacing: -0.42px;
    line-height: 48px; }

  .caption {
    font-family: "hind", trebuchet, Helvetica, arial, sans-serif;
    font-size: 28px;
    color: #CFD2F2;
    letter-spacing: -0.59px;
    line-height: 32px; }

  .paragraph-1 {
    font-family: "hind", trebuchet, Helvetica, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    color: #9DA1B8;
    letter-spacing: -1px;
    line-height: 40px;
    margin-bottom: 60px; }

  .paragraph-2 {
    font-family: "hind", trebuchet, Helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #C8CBE2;
    letter-spacing: -0.42px;
    line-height: 26px;
    margin-bottom: 80px; }

  .paragraph-2.blue {
    color: #6B6E8D;
    margin-bottom: 90px; } }
@media screen and (max-width: 780px) {
  h1 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    letter-spacing: -3px; }

  h2 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #181F65;
    letter-spacing: -3px; }

  h3 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: -0.67px;
    line-height: 32px; }

  h3.blue {
    color: #181F65; }

  h5 {
    font-family: "yuzu", trebuchet, Helvetica, arial, sans-serif;
    font-size: 20px;
    color: #9DA1B8;
    letter-spacing: -0.42px;
    line-height: 48px; }

  .caption {
    font-family: "hind", trebuchet, Helvetica, arial, sans-serif;
    font-size: 28px;
    color: #CFD2F2;
    letter-spacing: -0.59px;
    line-height: 32px; }

  .paragraph-1 {
    font-family: "hind", trebuchet, Helvetica, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    color: #9DA1B8;
    letter-spacing: -1px;
    line-height: 32px;
    margin-bottom: 60px; }

  .paragraph-2 {
    font-family: "hind", trebuchet, Helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #C8CBE2;
    letter-spacing: -0.42px;
    line-height: 26px;
    margin-bottom: 80px; }

  .paragraph-2.blue {
    color: #6B6E8D;
    margin-bottom: 90px; } }
@media screen and (min-width: 781px) {
  .hero-box {
    position: relative;
    height: 900px;
    background-color: #090C37;
    background-size: auto 600px;
    background-position: top center;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 140px;
    overflow: hidden;
    padding: 0px 40px 0px 40px; }
    .hero-box h1 {
      width: 100%;
      text-align: center;
      margin-top: 80px; }
    .hero-box .caption {
      text-align: center;
      max-width: 520px;
      margin: 0 auto;
      z-index: 10; }
    .hero-box .watch-1 {
      height: 648px;
      width: 100%;
      background-image: url(/images/New_Watch.png);
      background-image: url("/images/New_Watch@2x.png");
      background-size: 648px 100%;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: -260px;
      z-index: 6; }
    .hero-box .shape-1 {
      height: 960px;
      width: 960px;
      background-image: url(/images/shape-1.svg);
      position: absolute;
      right: 50%;
      margin-left: -230px;
      top: 600px;
      z-index: 1; }
    .hero-box .shape-2 {
      height: 271px;
      width: 271px;
      background-image: url(/images/shape-2.svg);
      repeat: no-repeat;
      position: absolute;
      right: 55%;
      margin-left: 0px;
      top: 70%;
      z-index: 2; }
    .hero-box .shape-3 {
      height: 187px;
      width: 187px;
      background-image: url(/images/shape-3.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 60%;
      margin-right: 210px;
      top: 50%;
      z-index: 3; }
    .hero-box .shape-4 {
      height: 518px;
      width: 518px;
      background-image: url(/images/shape-4.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 64%;
      margin-left: -210px;
      top: 90%;
      z-index: 5; }
    .hero-box .shape-5 {
      height: 1008px;
      width: 1008px;
      background-image: url(/images/shape-5.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 60%;
      margin-left: -210px;
      top: 60%;
      z-index: 4; } }
@media screen and (max-width: 780px) {
  .hero-box {
    position: relative;
    height: 800px;
    background-color: #090C37;
    background-size: auto 600px;
    background-position: top center;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 0px 30px 0px 30px; }
    .hero-box h1 {
      width: 100%;
      text-align: center;
      margin-top: 40px; }
    .hero-box .caption {
      text-align: center;
      max-width: 520px;
      font-size: 22px;
      line-height: 32px;
      margin: 0 auto; }
    .hero-box form {
      max-width: 516px;
      margin-top: 40px; }
      .hero-box form input {
        font-family: "yuzu", sans-serif;
        font-weight: normal;
        font-size: 20px;
        border-style: none; }
    .hero-box .watch-1 {
      height: 648px;
      width: 100%;
      background-image: url(/images/New_Watch.png);
      background-image: url("/images/New_Watch.png");
      background-size: 400px 400px;
      background-position: left top;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: -300px;
      z-index: 6; }
    .hero-box .shape-1 {
      height: 960px;
      width: 960px;
      background-image: url(/images/shape-1.svg);
      position: absolute;
      right: 50%;
      margin-left: -230px;
      top: 600px;
      z-index: 1; }
    .hero-box .shape-2 {
      height: 271px;
      width: 271px;
      background-image: url(/images/shape-2.svg);
      repeat: no-repeat;
      position: absolute;
      right: 55%;
      margin-left: 0px;
      top: 74%;
      z-index: 2; }
    .hero-box .shape-3 {
      height: 187px;
      width: 187px;
      background-image: url(/images/shape-3.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 65%;
      margin-right: 210px;
      top: 70%;
      z-index: 5; }
    .hero-box .shape-4 {
      height: 518px;
      width: 518px;
      background-image: url(/images/shape-4.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 64%;
      margin-left: -400px;
      top: 90%;
      z-index: 3; }
    .hero-box .shape-5 {
      height: 1008px;
      width: 1008px;
      background-image: url(/images/shape-5.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 60%;
      margin-left: -200px;
      top: 65%;
      z-index: 4; } }
@media screen and (min-width: 781px) {
  .navigation {
    font-family: "hind", sans-serif;
    padding: 20px 10px;
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #090C37; }

  .logo {
    font-size: 18px;
    color: #f2f2f2;
    padding: 14px 24px;
    margin-left: 10px;
    font-weight: bold; }

  .navigation-items {
    font-size: 18px;
    color: #f2f2f2;
    padding: 14px 24px;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF; }
    .navigation-items .lang {
      color: #FFFFFF; }
      .navigation-items .lang span {
        color: #717BC9; }
    .navigation-items a:link {
      margin-left: 20px;
      padding: 10px 14px;
      border-radius: 6px;
      transition: all 0.2s ease-in-out;
      color: #FFFFFF; }
    .navigation-items a:first-child {
      margin-left: 0; }
    .navigation-items a:hover {
      background-color: #181F59;
      border-radius: 6px;
      transition: all 0.2s ease-in-out;
      color: #FFFFFF; } }
@media screen and (max-width: 780px) {
  .navigation {
    font-family: "hind", sans-serif;
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #090C37; }

  .logo {
    font-size: 18px;
    color: #f2f2f2;
    margin-top: 12px;
    font-weight: bold;
    width: 100vw;
    text-align: center; }

  .navigation-items {
    width: 100vw;
    font-size: 16px;
    color: #f2f2f2;
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin: 0px 10px 0px 10px;
    max-width: 400px;
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center; }
    .navigation-items .lang {
      color: #FFFFFF; }
      .navigation-items .lang span {
        color: #717BC9; }
    .navigation-items a:link {
      margin-left: 8px;
      padding: 10px 10px;
      border-radius: 6px;
      transition: all 0.2s ease-in-out;
      color: #FFFFFF; }
    .navigation-items a:first-child {
      margin-left: 0; }
    .navigation-items a:hover {
      background-color: #181F59;
      border-radius: 6px;
      transition: all 0.2s ease-in-out;
      color: #FFFFFF; } }
@media screen and (min-width: 781px) {
  #mc_embed_signup {
    font-family: "hind", Helvetica, Arial, sans-serif;
    margin-top: 50px;
    z-index: 9; }
    #mc_embed_signup #mc_embed_signup_scroll {
      max-width: 535px;
      margin: 0 auto; }
      #mc_embed_signup #mc_embed_signup_scroll #mce-EMAIL {
        font-weight: normal;
        font-size: 20px;
        float: left;
        width: 360px;
        border: 2px solid #454864;
        box-sizing: border-box;
        background-color: #090C37;
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.2s ease-in-out; }
        #mc_embed_signup #mc_embed_signup_scroll #mce-EMAIL:focus {
          border: 2px solid #FFFFFF;
          color: #FFFFFF;
          transition: all 0.2s ease-in-out; }
      #mc_embed_signup #mc_embed_signup_scroll #mce-error-response {
        float: left;
        color: red;
        text-align: center;
        transition: all 0.2s ease-in-out; }
        #mc_embed_signup #mc_embed_signup_scroll #mce-error-response a {
          color: #ff8080; }
      #mc_embed_signup #mc_embed_signup_scroll #mce-success-response {
        float: left;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s ease-in-out; }
      #mc_embed_signup #mc_embed_signup_scroll #mc-embedded-subscribe {
        font-weight: normal;
        letter-spacing: -.1px;
        margin-left: 10px;
        border-style: none;
        background-color: #454864;
        color: rgba(255, 255, 255, 0.3);
        transition: all 0.2s ease-in-out; }
        #mc_embed_signup #mc_embed_signup_scroll #mc-embedded-subscribe:hover {
          background-color: #FFFFFF;
          color: #090C37;
          transition: all 0.2s ease-in-out; } }
@media screen and (max-width: 780px) {
  #mc_embed_signup {
    margin-top: 40px;
    font-family: "hind", Helvetica, Arial, sans-serif; }
    #mc_embed_signup #mc-embedded-subscribe-form {
      max-width: 400px;
      margin: 0 auto; }
      #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll {
        max-width: 100%;
        margin: 0 auto; }
        #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll #mce-EMAIL {
          font-family: "hind", Helvetica, Arial, sans-serif;
          font-weight: normal;
          font-size: 20px;
          float: left;
          width: 100%;
          border: 2px solid #454864;
          box-sizing: border-box;
          background-color: #090C37;
          color: rgba(255, 255, 255, 0.5);
          transition: all 0.2s ease-in-out; }
          #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll #mce-EMAIL:focus {
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
            transition: all 0.2s ease-in-out; }
        #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll #mce-error-response {
          float: left;
          color: red;
          text-align: center;
          transition: all 0.2s ease-in-out; }
          #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll #mce-error-response a {
            color: #ff8080; }
        #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll #mce-success-response {
          float: left;
          color: #FFFFFF;
          text-align: center;
          transition: all 0.2s ease-in-out; }
        #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll #mc-embedded-subscribe {
          font-family: "hind", Helvetica, Arial, sans-serif;
          width: 100%;
          border-style: none;
          background-color: #454864;
          color: rgba(255, 255, 255, 0.3);
          transition: all 0.2s ease-in-out; }
          #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll #mc-embedded-subscribe:hover {
            background-color: #FFFFFF;
            color: #090C37;
            transition: all 0.2s ease-in-out; } }
@media screen and (min-width: 781px) {
  .watch-point {
    display: flex; }
    .watch-point img {
      margin: 0 auto;
      clear: both; }

  .center {
    text-align: center; }
    .center .paragraph-2.blue {
      text-align: left; }
    .center .point-img {
      width: 100%;
      height: 248px;
      background-repeat: no-repeat;
      margin-bottom: 20px; }
      .center .point-img.goals {
        background-image: url(/images/point1-img.png);
        background-image: url("/images/point1-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.no-iphone {
        background-image: url(/images/point2-img.png);
        background-image: url("/images/point2-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.rewards {
        background-image: url(/images/point2-img.png);
        background-image: url("/images/point2-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.native {
        background-image: url(/images/point4-img.png);
        background-image: url("/images/point4-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.goals, .center .point-img.no-iphone, .center .point-img.rewards, .center .point-img.native {
        background-position: center; } }
@media screen and (max-width: 780px) {
  .watch-point {
    display: flex; }
    .watch-point img {
      margin: 0 auto;
      clear: both; }

  .center {
    text-align: center; }
    .center .p-2.blue {
      text-align: left;
      font-size: 22px;
      line-height: 32px; }
    .center .point-img {
      width: 100%;
      height: 248px;
      background-repeat: no-repeat;
      margin-bottom: 20px; }
      .center .point-img.goals {
        background-image: url(/images/point1-img.png);
        background-image: url("/images/point1-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.no-iphone {
        background-image: url(/images/point2-img.png);
        background-image: url("/images/point2-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.rewards {
        background-image: url(/images/point2-img.png);
        background-image: url("/images/point2-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.native {
        background-image: url(/images/point4-img.png);
        background-image: url("/images/point4-img@2x.png");
        background-size: 210px 100%;
        background-position: left top;
        background-repeat: no-repeat; }
      .center .point-img.goals, .center .point-img.no-iphone, .center .point-img.rewards, .center .point-img.native {
        background-position: center; } }
@media screen and (min-width: 781px) {
  .blue-bg {
    padding: 100px 0px 70px 0px;
    background-color: #090C37;
    width: 100%; }
    .blue-bg .container h2.white {
      color: #FFFFFF;
      margin-bottom: 40px; }

  .people {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 40px;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    flex-wrap: none; }
    .people .developer, .people .designer {
      max-width: 520px; }
      .people .developer img, .people .designer img {
        width: 100%;
        margin-bottom: 40px; }
    .people .developer {
      margin-right: 30px; } }
@media screen and (max-width: 780px) {
  .blue-bg {
    padding: 100px 0px 40px 0px;
    background-color: #090C37;
    width: 100%; }
    .blue-bg .container h2.white {
      color: #FFFFFF;
      margin-bottom: 40px; }

  .people {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 40px;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .people .developer, .people .designer {
      width: 100%; }
      .people .developer img, .people .designer img {
        width: 100%;
        margin-bottom: 20px; }
      .people .developer .p-2, .people .designer .p-2 {
        font-size: 22px;
        line-height: 32px; }
    .people .developer .profile-img {
      max-height: 520px;
      width: 100%;
      background-image: url(/images/mb.png);
      background-color: green;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; } }
@media screen and (min-width: 781px) {
  footer {
    background: #FFFFFF;
    padding: 100px 0px 100px 0px;
    bottom: 300px;
    width: 100%;
    z-index: -1; }
    footer h5 {
      font-weight: bold; }
    footer ul {
      line-height: 28px;
      margin-bottom: 40px; }
    footer a {
      font-family: "hind", sans-serif;
      font-size: 20px;
      color: #181F65;
      letter-spacing: -0.42px; } }
@media screen and (max-width: 780px) {
  footer {
    background: #FFFFFF;
    padding: 100px 0px 100px 0px;
    bottom: 300px;
    width: 100%;
    z-index: -1; }
    footer .paragraph-1.row {
      font-size: 22px;
      line-height: 32px; }
    footer h5 {
      font-weight: bold;
      font-size: 24px; }
    footer ul {
      line-height: 32px;
      margin-bottom: 40px; }
    footer a {
      font-family: "hind", sans-serif;
      font-size: 24px;
      color: #181F65;
      letter-spacing: -0.42px; } }
body {
  background-color: white; }
