// Footer

footer{
	background: #FFFFFF;
	padding:  100px 0px 100px 0px;
	bottom: 300px;
	width: 100%;
	z-index: -1;

	h5{
		font-weight: bold;
	}

	ul{
		line-height: 28px;
		margin-bottom: 40px;
	}
	a{
		font-family: "hind", sans-serif;
		font-size: 20px;
		color: #181F65;
		letter-spacing: -0.42px;
	}
}