// Made by Section

.container-2{
	//background-color: #181F65;
}
.blue-bg{
	padding: 100px 0px 70px 0px;
	background-color: #090C37;
	width: 100%;

	.container{
		h2.white{
			color: #FFFFFF;
			margin-bottom: 40px;
		}
	}

}
.made-flex{
	max-width: 1080px;
	margin: 0 auto;
	padding: 0px 40px;
	display: flex;
	-webkit-display: flex;

	justify-content: space-between;

	//background-color: red;

	.child{
		//background-color: blue;
		max-width: 520px;

		img{
			width: 100%;
			margin-bottom: 40px;
		}
	}
	.child-1{
		margin-right: 30px;
	

		.profile-img{
			max-height: 520px;
			width: 100%;
			background-image: url(/images/mb.png);
			background-color: green;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
}