// Made by Section

@media screen and (min-width: $min-large){

	.container-2{
		//background-color: #181F65;
	}
	.blue-bg{
		padding: 100px 0px 70px 0px;
		background-color: #090C37;
		width: 100%;

		.container{
			h2.white{
				color: #FFFFFF;
				margin-bottom: 40px;
			}
		}

	}
	.people {
		max-width: 1080px;
		margin: 0 auto;

		padding: 0px 40px;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;

		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-webkit-flex-wrap: none;
		-ms-flex-wrap: none;
		flex-wrap: none;

		.developer, .designer {
			max-width: 520px;

			img {
				width: 100%;
				margin-bottom: 40px;
			}
		}
		.developer {
			margin-right: 30px;
		}
	}

}

@media screen and (max-width: $max-small){

	.container-2{
		//background-color: #181F65;
	}
	.blue-bg{
		padding: 100px 0px 40px 0px;
		background-color: #090C37;
		width: 100%;

		.container{
			h2.white{
				color: #FFFFFF;
				margin-bottom: 40px;
			}
		}

	}
	.people {
		max-width: 1080px;
		margin: 0 auto;
		padding: 0px 40px;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;

		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		//background-color: red;

		.developer, .designer {
			//background-color: blue;
			width: 100%;

			img{
				width: 100%;
				margin-bottom: 20px;
			}
			.p-2{
				font-size: 22px;
				line-height: 32px;
			}
		}
		.developer{
			//margin-right: 20px;
		

			.profile-img{
				max-height: 520px;
				width: 100%;
				background-image: url(/images/mb.png);
				background-color: green;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}

}