// Navigation

@media screen and (min-width: $min-large){
	.navigation {
		font-family: "hind", sans-serif;
		padding: 20px 10px;
		-webkit-display: flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		align-items: center;	
		height: 60px;
		background-color: #090C37;

	}

	.logo {
		font-size: 18px;
		color: #f2f2f2;
		padding: 14px 24px;
		margin-left: 10px;
		font-weight: bold;
	}

	.navigation-items {
		font-size: 18px;
		color: #f2f2f2;
		padding: 14px 24px;
		transition: all 0.2s ease-in-out;
		color: #FFFFFF;

		.lang {

			color: #FFFFFF;

			span {
					color: #717BC9;
				}
		}

		a:link {
			margin-left: 20px;
			padding: 10px 14px;
			border-radius: 6px;
			transition: all 0.2s ease-in-out;
			color: #FFFFFF;

		}

		a:first-child {
			margin-left: 0;
		}

		a:hover {
			background-color: #181F59;
			border-radius: 6px;
			transition: all 0.2s ease-in-out;
			color: #FFFFFF;

			
		}
	}


}

@media screen and (max-width: $max-small){

	.navigation {
		font-family: "hind", sans-serif;

		-webkit-display: flex;
		display: flex;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		align-items: center;	
		height: 100px;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		background-color: #090C37;

	}

	.logo {
		font-size: 18px;
		color: #f2f2f2;
		margin-top: 12px;
		font-weight: bold;
		width: 100vw;
		text-align: center;
	}

	.navigation-items {
		width: 100vw;
		font-size: 16px;
		color: #f2f2f2;
		transition: all 0.2s ease-in-out;
		text-align: center;
		margin: 0px 10px 0px 10px;

		max-width: 400px;
		-webkit-display: flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		align-items: center;	


		.lang {

			color: #FFFFFF;

			span {
					color: #717BC9;
				}
		}

		a:link {
			margin-left: 8px;
			padding: 10px 10px;
			border-radius: 6px;
			transition: all 0.2s ease-in-out;
			color: #FFFFFF;

		}
		a:first-child {
			margin-left: 0;
		}

		a:hover {
			background-color: #181F59;
			border-radius: 6px;
			transition: all 0.2s ease-in-out;
			color: #FFFFFF;
		}
	}
}