// Footer


footer
	background: #FFFFFF
	padding: 120px 0 60px 0
	position: fixed
	bottom: 0
	width: 100%
	z-index: -1

	a
		font-family: SofiaProSoftRegular
		font-size: 20px
		color: #181F65
		letter-spacing: -0.42px

.shape-4
	height: 10px
	width: 80px
	background:
		color: #20C907

	margin-bottom: 24px