// Made by Section

.container-2
	//background-color: #181F65

.blue-bg
	padding: 140px 0
	background-color: #181F65
	width: 100%

.container
	//background-color: #181F65

	h2.white
		color: #FFFFFF
		margin-bottom: 100px

	.columns.six
		//background-color: red

		.profile-img
			height: 477px
			width: 100%
			background:
				image: url(/images/mb.png)
				color: green
				repeat: no-repeat
				size: cover
		h3
			padding-top: 40px
