// Import all other pieces

.above-footer
	background: #FFFFFF
	margin-bottom: 100vh

@import text
@import hero-parallax
@import navigation
@import content-parallax
@import input
@import footer

.spacer
	background-color: #FFFFFF

body
	background-color: white

