// Text

@font-face
	font-family: yuzu
	src: url(/fonts/yuzu-bold.otf)
	font-weight: bold
@font-face
	font-family: yuzu
	src: url(/fonts/yuzu-medium.otf)
	font-weight: medium
@font-face
	font-family: yuzu
	src: url(/fonts/yuzu-regular.otf)
	font-weight: normal


h2
	font-family: yuzu
	font-weight: bold
	font-size: 80px
	color: #181F65
	letter-spacing: -3px

h3
	font-family: yuzu
	font-weight: bold
	font-size: 32px
	color: #FFFFFF
	letter-spacing: -0.67px
	line-height: 32px

h3.blue
	color: #181F65
h5
	font-family: SofiaProSoftRegular
	font-size: 20px
	color: #9DA1B8
	letter-spacing: -0.42px
	line-height: 48px

.p-1
	font-family: "yuzu"
	font-weight: normal
	font-style: normal
	font-size: 48px
	color: #9DA1B8
	letter-spacing: -1px
	line-height: 56px

	margin-bottom: 60px

.p-2
	font-family: SofiaProSoftRegular
	font-size: 20px
	color: #C8CBE2
	letter-spacing: -0.42px
	line-height: 30px
	margin-bottom: 80px

.p-2.blue
	color: #181F65
	margin-bottom: 90px