doctype html
html(land="en")

	head
		title Jumbo Toucan &#8211; Cycles
		<script src="https://use.typekit.net/vsm7duh.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		meta(charset="UTF-8")
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/skeleton.css")
		link(rel="stylesheet", href="css/main.css")

	body
		.navigation
			.logo Jumbo Toucan
			.navigation-items
				a(href="#points-anchor") Cycles
				a(href="#profile-anchor") Perfil
				a(href="#contact-anchor") Contáctenos
				a.lang(href="index.html") <span>En /</span> Sp

		.hero-box
			h1 Cycles
			.caption Crea notificaciones significativas y toma control de tu horario.
			
			//Begin MailChimp Signup Form
			#mc_embed_signup
				form(action="//jumbotoucan.us13.list-manage.com/subscribe/post?u=05587514275d5b56b3637b5ba&amp;id=9adf6d0c42" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
					#mc_embed_signup_scroll
						.mc-field-group
							input#mce-EMAIL.required.email(type="email" value="" placeholder="Notificarme cuando esté listo" name="EMAIL")

							#mce-responses.clear
								#mce-error-response.response(style="display:none")
								#mce-success-response.response(style="display:none")

							div(style="position: absolute; left: -5000px;" aria-hidden="true")
								input(type="text" name="b_05587514275d5b56b3637b5ba_9adf6d0c42" tabindex="-1" value="")
							.clear
								input#mc-embedded-subscribe.button(type="submit" value="Subscribir" name="Subscribir")

			//End mc_embed_signup
			.watch-1
			.shape-1
			.shape-2
			.shape-3
			.shape-4
			.shape-5

		.container.white-bg
			#points-anchor
			.points.row
				.columns.six
					.center
						.point-img.goals
						h3.blue Tus Metas
						.paragraph-2.blue Aveces se nos olvidan las cosas o aveces simplemente necesitamos un poco de motivación. Sin importar el propósito, Cycles te ayudará alcanzar tus metas con un interfaz fácil de usar.
				.columns.six
					.center
						.point-img.independent
						h3.blue Aplicación Independiente
						.paragraph-2.blue La mayoría de aplicaciones necesitan ser configuradas en tu iPhone. ¡Con Cycles no es necesario! Cualquier parte de la aplicación puede ser usada en tu Apple Watch, sin la interferencia de otra dispositivo.
			.points.row
				.columns.six
					.center
						.point-img.rewarding
						h3.blue Obtén Premios 
						.paragraph-2.blue Al completar tu ciclo, recibirás premios en forma de trofeos virtuales. Entre màs ciclos completes, obtendrás más trofeos. ¿A quien no le gustan los trofeos?
				.columns.six
					.center
						.point-img.familiar
						h3.blue Interfaz Nativo
						.paragraph-2.blue No habrá dificultad al usar Cycles porque lo diseñamos parecido a lo que usas a diario en tu iPhone y Apple Watch. ¡Simplemente inicia la aplicación en tu muñeca y disfruta!


		.blue-bg
			#profile-anchor
			.container.row
				h2.white.row Otros métodos de contacto

			.people
				.developer
					img(src="/images/alec.png" alt="Alec Dilanchian's beautiful face")
					h3 Alec Dilanchian
					.paragraph-2 Diseñando aplicaciones desde antes de que fuera "cool", la pasión que siente Mitchell lo motiva para constantemente mejorar su trabajo. Durante los diez años que lleva diseñando cosas digitales, Mitchell encontró hobbies que lo apasionan- la tipografía y el surf.
				.designer
					img(src="/images/mitch.png" alt="Mitchell Bernstein's gorgeous face")
					h3 Mitchell Bernstein
					.paragraph-2 Alec es un desarrollador de sistemas autodidacta con una misión de constantemente estar aprendiendo. Si no esta trabajando en una aplicación nueva, está en un restaurante disfrutando de una cerveza extranjera y papitas fritas con queso derretido.

		footer
			.container
				#contact-anchor
				h2.blue.row Contáctenos
				.paragraph-1.row Jumbo Toucan es un dúo basado en Orlando, Florida. ¡Si te gusta lo que hacemos, mándanos un mensajito! 

				.row
					.six.columns
						h5 FORMAS DE CONTACTO
						ul
							li: a(href="http://twitter.com/jumbotoucan") @jumbotoucan
							li: a(href="http://twitter.com/alec_dilanchian") @alec_dilanchian
							li: a(href="http://twitter.com/mitchbernstein") @mitchbernstein
					.six.columns
						h5 OTROS MÉTODOS DE CONTACTO
						ul
							li: a(href="http://facebook.com/jumbotoucan") Facebook
							li: a(href="http://twitter.com/aDilanchian") Twitter
							li: a(href="mailto:hi@jumbotoucan.com") Email

		script(src="/js/jquery-2.1.3.min.js")
		script(src="/js/functions.js")
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>