doctype html
html(land="en")

	head

		title Jumbo Toucan — Cycles
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/skeleton.css")
		link(rel="stylesheet", href="css/main.css")

	body
		
			.nav
				.logo
					p Jumbo Toucan

				ul.nav-items
					li: a(href="#points-anchor") Cycles
					li: a(href="#profile-anchor") Profile
					//li: a(href="") Blog
					li: a(href="mailto:hi@jumbotoucan.com") Contact

			.hero-box
				h1 Cycles
				.caption Create meaningful notifications and take control over your schedule.
				form.row
					.columns.eight
						input.u-full-width(type="email" placeholder="Email me when it's ready")
					.columns.four
						input.button-primary.u-full-width(type="submit" value="Signup")
				.watch-1
				.shape-1
				.shape-2
				.shape-3
				.shape-4
				.shape-5

			.container
				#points-anchor
				.points.row
					.columns.six
						.center
							.point-1-img
							h3.blue Your Goals
							.p-2.blue Sometimes we're forgetful and sometimes we just need a little motivation. Whatever the purpose, Cycles helps you reach those goals with an easy to use interface.
					.columns.six
						.center
							.point-2-img
							h3.blue Stand Alone Watch App
							.p-2.blue Most apps need to be configured on your iPhone. Not Cycles! Any feature can be used directly on your Watch without the interference of another device.
				.points.row
					.columns.six
						.center
							.point-3-img
							h3.blue Get Rewarded
							.p-2.blue Finishing your cycles means you deserve an award. The more cycles you complete, the more trophies you rack up. Who doesn't like trophies, #AmIRight?
					.columns.six
						.center
							.point-4-img
							h3.blue Native Interface
							.p-2.blue There's absolutely no learning curve to using Cycles because everything we designed is meant to be farmiliar to you. Just start up the app on your wrist and tap away!

				form.row
					.columns.eight
						input.u-full-width(type="email" placeholder="Email me when it's ready")
					.columns.four
						input.button-primary.u-full-width(type="submit" value="Signup")
			.blue-bg
				#profile-anchor
				.container.row
					.shape-4.row
					h2.white.row Made by


				.made-flex
					.child.child-1
						img(src="/images/mb.png" alt="Mitchell Bernstein's face")
						h3 Alec Dilanchian
						.p-2 Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. But enim ad min im veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.child
						img(src="/images/mb.png" alt="Mitchell Bernstein's face")
						h3 Mitchell Bernstein
						.p-2 Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. But enim ad min im veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

		footer
			.container
				#contact-anchor
				.shape-4
				h2.blue.row Contact
				.p-1.row Jumbo Toucan is a tiny duo studio based in Orlando, Florida. If you enjoy what we make, feel free to reach out to us!

				.row
					.six.columns
						h5 REACH OUT
						ul
							li: a(href="") @jumbotoucan
							li: a(href="") @alecdidiln
							li: a(href="") @mitchbernstein
					.six.columns
						h5 ELSEWHERE
						ul
							li: a(href="") Facebook
							li: a(href="") Twitter
							li: a(href="") Email


	script(src="/js/jquery-2.1.3.min.js")
	script(src="/js/functions.js")