doctype html
html(land="en")

	head

		title Jumbo Toucan — Cycles
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/skeleton.css")
		link(rel="stylesheet", href="css/main.css")

	body

		.nav

			.logo

				p Jumbo Toucan

			ul.nav-items
				li 
					a(href="") Cycles
				li
					a(href="") Profile
				li
					a(href="") Blog
				li
					a(href="") Contact

		.hero-box

			.h1
			.watch-1
			.shape-1
			.shape-2

		footer

	.spacer(style="height: 2000px")

	script(src="/js/jquery-2.1.3.min.js")
	script(src="/js/functions.js")